*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
    color: #000000;
    padding: 0%;
    font-size: 20px;
    
}
img{
    cursor: pointer;
}
.flex_div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav_right img{
    width: 25px;
    margin-right: 25px;
}
.nav_right .user_icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav_left .menu_icon{
    width: 22px;
    margin-right: 25px;
}
.nav_left .logo{
    width: 130px;
}
.nav_middle .mic_icon{
    width: 16px;
}
.nav_middle .search_box{
    border: 1px solid #ffffff;
    margin-right: 15px;
    padding: 10px 12px;
    border-radius: 25px;
}
.nav_middle .search_box input{
    width: 500px;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.nav_middle .search_box img{
    width: 15px;
}
.sidebar{
    background-color: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.shortcut a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut .explore{
    color: #ed3833;
}
.shortcut hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 85%;
}
.subscription h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscription a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscription a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidbar{
    width: 5%;   
}
.small-sidbar a p{
    display: none;
}
.small-sidbar h3{
    display: none;
}
.small-sidbar hr{
    width: 50%;
    margin-bottom: 25px;
}
.container{
    background-color: rgb(255, 255, 255);
    padding: 20px 2% 20px 20%;
}
.large_container{
    padding-left: 7%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}

/* container */

.list_container{
    display: flex;
    flex-direction: column;
    
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.vid_list{
    display: flex;
}

.vid_list .thumbnail{
    width: 30%;
    border-radius: 5px;
    padding-right: 0px;
}
.vid_list .flex_div{
    display: flex;
    align-items: center;
    margin-top: 7px;
    
}
.vid_list .flex_div img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.vid_list .flex_div .vid_info{
     color: #5a5a5a;
     font-size: 13px;
     flex-grow: 1;
}
.vid_list .flex_div .vid_info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    flex-grow: 1;
}
.vid_list {
    display: flex;
    margin-bottom: 20px; /* Khoảng cách giữa các video */
}

.vid_list .thumbnail {
    width: 700%;
}

.vid_list img {
    max-width: 200px;
    height: auto;
}

.vid_info {
    margin-left: 15px;
    flex: 1;
}

/* Để đảm bảo tiêu đề không bị tràn ra khỏi vùng chứa */
.vid_info a {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.trending_banner {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.trending_img {
    width: 70px;
    border-radius: 50%;
    
}

.trending_text {
    margin-left: 10px; /* Điều chỉnh khoảng cách giữa hình ảnh và văn bản nếu cần thiết */
}

